body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img.avatar {
  margin: -5px 0;
  border-radius: 13px;
}

div.center {
	text-align: center;
}

.glyphicon-refresh-animate {
  -animation: spin 1.9s infinite linear;
  -webkit-animation: spin2 1.9s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.menu .btn {
	width: 100%;
}